%div#bd
  %div.yui-g
    %h2 Oh dear. We made a mistake
    %p You're seeing this page because we've moved something, or deleted something, without telling you where it might have gone.
    %p It's also possible that the spelling of the URL you've used is incorrect.

    %h2 So, what next?
    %p You could <a href="/">go back to the front page</a>, or use the search function at the top of the page.

    %p You can also mail the <a href="http://groups.google.com/group/hansard-prototype/topics?gvc=1">Hansard Prototype Google Group</a> (you'll have to be a member), or Robert Brook - Parliament's contact for this site, at <a href="mailto:mail@robertbrook.com">mail@robertbrook.com</a>.