!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :xml => {:lang => "en"}}
  %head
    %meta{"http-equiv"=> "content-type", :content => "text/html; charset=UTF-8"}
    %title We're sorry, but something went wrong
    <style type="text/css">
    body { font-family:sans-serif;line-height:140%;margin-top:2%;margin-left:8%;margin-bottom:2%;font-size:1.2em;width: 60%;color:#333; }
    div.dialog { width: 25em;padding: 0 4em;margin: 4em auto 0 auto;border: 1px solid #ccc;border-right-color: #999;border-bottom-color: #999; }
    a { text-decoration:none; }
    a:hover { text-decoration:underline }
    span.home{ font-weight:bold; }
    h1 { font-size: 1em; line-height: 1.5em; }
    </style>
    
    %body
      %span.home <a href="/" rel="home">Hansard</a>
      %h1 We're sorry, but something went wrong.
      %p We've been notified about this issue and we'll take a look at it shortly.