%html{:lang => "en-GB"}
  %head
    %meta{:charset => "utf-8"}
    %title Search
    %link{:href => "/assets/screen.css", :media => "screen", :rel => "stylesheet", :title => "Default", :type => "text/css"}
    %link{:href => "/assets/print .css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  %body#hansard-millbanksystems-com
    %div#header
      %div.search-help
        %a{:href => "#{PARENT_URL}search"} Search Help
      %form{:action => "/", :id => "search", :method => "post", :rel => "search"}
        %input{:size => "24", :title => "Access key: S", :accesskey => "s", :name => "query", :id => "search-query", :type => "search", :placeholder => "Search Hansard", :autosave => "hansard.millbanksystems.com", :results => "10", :value => params[:query]}
        %input{:type => "submit", :value => "Search"}
      %div#nav
        %a{:href => "#{PARENT_URL}", :id => "home", :rel => "home"} HANSARD 1803-2005
      %h1.title= @page_title || "Search"
    %div.page{:id => "content"}
      =yield