- if block.link.is_a?(Hash)
  - block_link = querystring_builder(block.link)
- else
  - block_link = block.link
%td.timeline_block{:nowrap => "nowrap", :valign => "bottom", :onclick => block_link.empty? ? nil : block_link}
  - unless block_link.empty?
    %a{:href => "#{block_link}"}
      - block.bars.each do |bar|
        -if bar.height > 0
          %img.timeline_bar{:height => "#{bar.height}", :src => "/images/dot.gif", :width => "5"}<>